body {
  font-size: .875rem;
  background-color: #fbfbff;
}
.table {
    border-collapse: separate;
    border-spacing:0 10px;
}
th {
  border-bottom-width: 0 !important;
}
td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 20px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
  padding-right: 20px;
}
.navbar-brand {
    background-color: transparent !important;
    box-shadow: none !important;
}
.sidebar {
  padding-top: 10px !important;
  background-color: #fcfcff;
  z-index: 9999 !important;
}
#sidebarMenu .nav-item {
  margin-bottom: 10px;
}
#sidebarMenu #logo {
  max-width: 80px;
}
.top-bar .nav-link {
  color: #555064 !important;
}
.sidebar .nav-link .feather {
  color: #a9b0c5 !important;
}

#add_gig_form .form-control, #add_gig_form .form-select {
  background-color: #ffffff;
}
#edit_gig_form .form-control, #add_gig_form .form-select {
  background-color: #ffffff;
}
.sidebar .nav-link {
color: #a7a4ae !important;
}
.sidebar .nav-link.active, .sidebar .nav-link.active .feather {
color: #fbb30b !important;
}
.below-pills .btn-primary {
  background: none;
  border: 1px solid #cccccc;
  color: #a9b0c5;
}
.below-pills .btn-primary.active {
  background: none;
  border: 2px solid #fbb30b;
  color: #fbb30b;
}
.nav-pills-index {
  border-bottom: 3px solid #cccccc;
}
.nav-pills-index .nav-link {
  background-color: transparent;
  color: #a9b0c5 !important;
}
.nav-pills-index .nav-link.active, .nav-pills-index .show>.nav-link {
  position: relative;
  bottom: -3px;
  background-color: transparent;
  color: #a7a4ae !important;
  font-weight: bold;
  border-bottom: 3px solid #fbb30b;
}
.nav-pills-inner .nav-link {
color: #a9b0c5;
}
.nav-pills-inner .nav-link.active {
  background: none;
  color: #fbb30b;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 767.98px) {
    .top-search {width: 100% !important;}
    header .navbar-nav {
        width: 100%;
    }

    .nav-pills-inner, .tab-content {
        width: 100% !important;
        display: block;
    }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

  .btn-primary {
    background-color: #2f417e;
    border-color: #2f417e;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: #4059aa;
    border-color: #4059aa;
  }

  .btn-secondary, .bg-secondary {
    color: #ffffff;
    border-color: #fbb30b;
    background-color: #fbb30b !important;
  }

  .btn-secondary:hover, .bg-secondary:focus {
    color: #ffffff;
    border-color: #fad06d;
    background-color: #fad06d !important;
  }

  .btn-secondary-b, .bg-secondary-b {
    color: #fbb30b;
    border-color: #fcf4e6;
    background-color: #fcf4e6 !important;
  }

  .btn-secondary-b:hover, .bg-secondary-b:focus {
    color: #ffffff;
    border-color: #fbb30b;
    background-color: #fbb30b !important;
  }

  .bootstrap-tagsinput {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
  }
  
  .bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: #fbb30b !important;
    background-color: #fcf4e6 !important;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
  }

  .top-search .form-control {
    background-color: transparent;
    padding: 0.5rem 1rem !important;
    border-left: 0;
  }

  .top-search .input-group-text {
    background-color: transparent;
    padding-right: 0;
    border-right: 0;
  }
  
  .feather {
    width: 16px;
    height: 16px;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  